body{
  margin:0;
}

.triage-tool-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #210D3F;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  height: 30px;
}

#triageTool {
  padding-left: 30px;
  padding-right: 40px;
  color: rgb(230, 116, 159);
}

.triage-tool-bar a {
  padding-left: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.session-drop-down {
  background-color: #210D3F;
  border: 2px solid #8633FF;
  width: 150px;
  height: 30px;
  color: white;
}

.session-drop-down:hover {
  background-color: #8633FF;
}

input {
  height: 30px;
  background-color: #431A7F;
  color: white;
}

#fileUpload {
  cursor: pointer;
  color: white;
  text-align: center;
  border: 2px solid #8633FF;
  padding: 5px;

}

#files {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#fileUpload:hover {
  background-color: #8633FF;
}

.check-box-name {
  padding-left: 20px;
  color: white;
}

.check-box{
  margin-top: 1px;
  width: 18px;
  height: 18px;
}


.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#myCanvas {
  margin-top: 30px;
}

#jumpPosition {
  padding: 2px;
  width: 200px;
  margin-left: 20px;
}

#indexButton {
  cursor: pointer;
  background-color: rgb(148, 5, 60);
  text-align: center;
  border: 2px solid #8633FF;
  padding: 5px;
  color: white;
}

#jumpButton {
  cursor: pointer;
  background-color: rgb(148, 5, 60);
  text-align: center;
  border: 2px solid #8633FF;
  padding: 5px;
  color: white;
}

#jumpButton:hover {
 background-color: #8633FF;
 color: white;
}
